
<div id="container">
    <h1>Upravljanje robom koja se prevozi</h1>
     <button *ngIf="!adding" (click)="addingItem()" class="bb btn btn-info text-center justify-content-end border-0 text-light">Dodaj novi proizvod</button>
     <button *ngIf="adding" (click)="cancel()" class="bb btn btn-light text-center justify-content-end border-0 text-light">Cancel</button>
    <div class="table-responsive">
  <table class="table table-responsive table-bordered table-hover">
    <thead>
      <tr *ngIf="adding">
        <td class="adding"><input class="form-control" [(ngModel)]="newItem.category" type="text" placeholder="Kategorija"></td>
        <td class="adding"><input class="form-control" [(ngModel)]="newItem.description" type="text" placeholder="Opis"></td>
        <td class="adding"><input class="form-control" [(ngModel)]="newItem.price" type="text" placeholder="Cena"></td>
        <td>
          <button *ngIf="adding" (click)="add()" class="btn btn-primary text-center">Dodaj</button>
         </td>
         
      </tr>
      <tr>
        <th>Kategorija</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Izbrisi</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allItems">
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        
           <td> 
            <button (click)="deleteItem(item.id)" class="btn btn-danger"><mat-icon> delete</mat-icon></button>
        </td>
        </tr>
        <tr *ngIf="adding"></tr>
       
    </tbody>
  </table>
</div>
</div>