.carouselExampleIndicators {
    height: 100vh;
    background-color: green;
}
.container {
    height: 100vh;
}
.carousel-item::before {
    background-color: rgba(0, 0, 0.2, 0.5);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.coll {
    width: 100%;
}