.carouselExampleIndicators {
    height: 100vh;
    background-color: green;
}
.container {
    height: 100vh;
}
.carousel-item::before {
    background-color: rgba(0, 0, 0.2, 0.5);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.coll {
    width: 100%;
}

.col-sm-12 {
    background: transparent;
}
.col-sm-9 {
    background: transparent;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;


}
.left {
    text-align: center;
}
.left h1 {
    font-size: 4rem;
    font-weight:900;
}
.left p {
    font-size: 1.5rem;
}
.card-img-top {
    height: 150px;
}

.btn {
    background-color: #cfb095;
    border: none;
}
.btn {
    background-color: #cfb095;
    color: white;
    width: 50%;
    padding: 1rem;
    font-size: large;
    position: absolute;
    bottom: 50%;
}

