* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-button {
    background-color: #cfb095;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.register-button {
    background-color: #ffffff;
    color: #cfb095;
    padding: 8px 20px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #cfb095;
    margin-left: 1rem;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover {
    background-color: #ffffff;
    color: #cfb095;
}
.register-button:hover {
    background-color: #cfb095;
    color: #ffffff;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
    
    font-size: 20px;
}
.nav-link:hover, .nav-link.active {
    color: #cfb095;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 80px;
    margin: 0; /* Ukloni marginu da bi navigacija bila uz sam vrh */
    border-radius: 0; /* Ukloni border radius da ne bi bilo problema sa ivicama */
    padding: 0.5rem;
    box-shadow: 0 0 10px;
    z-index: 1000; /* Da bi bila iznad ostalih elemenata */
    
}
.navbar-brand {
    font-weight: 500;
    color: #cfb095;
    font-size: 30px;
    transition: 0.3s color;

}
#it {
    color: #000;
    font-weight:500;
    margin-left: 0.1rem;
    

}
@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #cfb095;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
 .components-container {
    background: url("./images/slider-bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;

    overflow-y: scroll;
}
.components-container::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.components-container .container {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
    color: black;
    margin-top: 50px;
} 
.hero-section h1 {
    font-size: 1.5rem;
    
}
.hero-section h2 {
    font-size: 1.2rem;
}
.mat-badge-content {
    background-color: green;
    display: none;
}
#notiff {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
}
.badge {
    background-color: green;
}
router-outlet {
    background-color: white;
}


.row {
    width: 100%;
    padding-top: 100px;
    
    
}
.col-sm-8 {
    padding: 0 0.3rem;
    background-color: white;
    color: black;
}