

<div class="containerr">
    <h3>Istorija poslovanja sa klijentom</h3>
  
    
    <ul style="list-style-type: none;">
      <li class="flex justify-content-center">
        
        <div class="shadow-lg p-4 mb-5 bg-body rounded-4">
          <p>25 isporuka</p>
        </div>
        <div class="shadow-lg p-4 mb-5 bg-body rounded-4">
          <p>18 uspesnih ugovora</p>
        </div>
        <div class="shadow-lg p-4 mb-5 bg-body rounded-4">
          <p>145 isporucenih posiljki</p>
        </div>
      </li>
    </ul>
  
   
  </div>
  