/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* #container {
    border-radius: 25px;
    padding: 3rem 5rem;
    background-color: white;
    color: black;
    margin-top: 15rem;
} */
p {
    font-size: 25px;
}
.form-control {
    padding: 13px;
}
td {
    font-size: 15px;
}
th {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
}
.col-sm-12 {
    background: transparent;
    color: black;
    padding: 2rem 1rem;
    box-sizing: border-box;
}
button, .login-button, .register-button {
    cursor: pointer;
}
.navbar-brand {
    font-weight: 500;
    color: #cfb095;
    font-size: 30px;
    transition: 0.3s color;

}
#it {
    color: #000;
    font-weight:500;
    margin-left: 0.1rem;
    

}
.spinner {
    color: #cfb095;
}