.row {
    background-color: white;
    color: black;
    font-size: 1.5rem;
}
.col-sm-12 {
    text-align: center;
    
}
.row {
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 1px 2px;
    border: none;
}
.row:hover {
    transform: scale(1.07);
    transition: 1s;
}
.btn {
    text-align: center;
    border-radius: 10px;
    border: none;
    margin: 0 0.5rem;
}
p {
    font-size: 1.2rem;
    text-align: center;
}
h3 {
    color: white;
    font-size: 2.5rem;
}