<div id="container">
    <h2>Proveri status svoje pošiljke!</h2>
    <h4>Unesi šifru pošiljke:</h4>
    <div class="row">

        <div class="col-sm-1">
            <small id="helpId" class="form-text text-muted"><mat-icon style="color: #cfb095; font-size:26;"> add_location</mat-icon></small>
        </div>
        <div class="col-sm-8">
      <input [(ngModel)]="number" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Unesite broj posiljke...">
            
        </div>
        <div class="col-sm-3">
            <button (click)="followOrder()" class="btn btn-light text-light">
                
                Pošalji
              </button>
        </div>
    </div>
    <div class="input-group mb-3 mt-5">
      
      <small *ngIf="status == 'SEND'" style="font-size:2;" id="helpId" class="form-text text-muted">
        Status Vase pošiljke: <p>Na cekanju za transport.</p>
        
      </small>
      <small *ngIf="status == 'SEND-TO-CLIENT'" style="font-size:2;" id="helpId" class="form-text text-muted">
        Status Vase pošiljke: <p>NA PUTU</p> 
        Trenutna lokacija: <p>{{ca}}</p>
      </small>
      <small *ngIf="status == 'ERROR'" style="font-size:2;" id="helpId" class="form-text text-muted">
        <p>Nije pronađena pošiljka sa zadatim brojem.</p>
      </small>
      
    </div>
          
       